* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-font: "Chonburi", cursive;
  --link-font: "Cardo", serif;
  outline: 1px solid green;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px 2fr;
  place-content: center;
  position: relative;
}

nav {
  background: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1.5em;
  animation: nav 1s;
}

nav ul li {
  display: block;
  list-style: none;
  padding: 0.3rem;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

nav ul li p {
  color: #000;
  opacity: 0;
  transition: 1s;
  transition: opacity 0.2s;
  transition: transform 0.25s 0.1s;
  font-family: var(--link-font);
  font-weight: 700;
}

nav ul li:hover p {
  opacity: 1;
  transform: translateX(10px);
}

nav ul li a {
  overflow: hidden;
  transition: 0.3s;
  /* padding: 1em; */
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
}

nav ul li:hover a {
  border: 2px solid white;
  border-radius: 50%;
  transform: translateX(-5px);
}

i {
  color: aliceblue;
}

section {
  display: grid;
  place-content: center;
}

section article {
  height: 80vh;
  width: 60vw;
  border: dotted #888;
  display: grid;
  place-content: center;
  padding: 1em;
  text-align: justify;
  position: relative;
}

section article h2 {
  text-align: center;
  font-family: var(--main-font);
  padding: 1em;
  animation: slide-in 3s;
}

section article p {
  font-family: var(--link-font);
  text-align: just;
  animation: slide-out 1.5s;
  padding: 1em;
}

section article::before {
  content: " ";
  display: block;
  height: 60px;
  width: 60px;
  background: #000;
  position: absolute;
  top: -30px;
  left: -30px;
  animation: spin 1.5s linear;
}

section article::after {
  content: " ";
  display: block;
  height: 60px;
  width: 60px;
  background: #000;
  position: absolute;
  bottom: -30px;
  right: -30px;
  animation: spin 1.5s linear;
}

@keyframes nav {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: scale(30%);
  }
  80% {
    transform: scale(20%);
  }
  90% {
    transform: scale(40%);
  }
  100% {
    transform: rotate(0deg);
  }
  /* 
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  } */
}

@keyframes slide-in {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

/* screen break */

@media (max-width: 916px) {

  body {
    width: 100vw;
    height: 100vh;
  }

  main {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: space-between;
    position: relative;
    grid-template-areas:
      "a a a a"
      "a a a a "
      "b b b b ";
  }

  nav {
    background: #000;
    min-height: auto;
    grid-area: b;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    animation: slide-up 1.5s;
    z-index: 1;
  }

  @keyframes slide-up {
    from {
      bottom: -35px;
    }
    to {
      bottom: 0;
    }
  }

  nav ul {
    display: flex;
  }
  nav ul li {
    display: block;
    list-style: none;
    padding: 0.3rem;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }

  nav ul li p {
    color: #000;
    opacity: 0;
    transition: 1s;
    transition: opacity 0.2s;
    transition: transform 0.25s 0.1s;
    font-family: var(--link-font);
    font-weight: 700;
    display: none;
  }

  nav ul li:hover p {
    opacity: 1;
    transform: translateX(10px);
  }

  nav ul li a {
    overflow: hidden;
    transition: 0.3s;
    /* padding: 1em; */
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
  }

  nav ul li:hover a {
    border: 2px solid white;
    border-radius: 50%;
    transform: translateX(-5px);
  }

  i {
    color: aliceblue;
  }

  section {
    display: grid;
    place-content: center;
    grid-area: a;
  }

  section article {
    height: 80vh;
    width: 80vw;
    border: dotted #888;
    display: grid;
    place-content: center;
    padding: 1em;
    text-align: justify;
    position: relative;
  }

  section article::before,
  section article::after {
    height: 30px;
    width: 30px;
  }

  section article::after {
    bottom: -15px;
    right: -15px;
  }

  section article::before {
    top: -15px;
    left: -15px;
  }

  section article h2 {
    text-align: center;
    font-family: var(--main-font);
    padding: 0.5em;
    animation: slide-in 2s;
  }

  section article p {
    font-family: var(--link-font);
    text-align: just;
    animation: slide-out 1.5s;
    padding: 1em;
    height: 100vmin;
    overflow-y: scroll;
  }
}
