* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-font: "Chonburi", cursive;
  --link-font: "Cardo", serif;
  outline: 1px solid green;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-content: center;
  position: relative;
}

nav {
  background: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 2.5em;
  animation: nav 1.5s;
}

nav ul li {
  display: block;
  list-style: none;
  padding: 0.3rem;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

nav ul li p {
  color: #fff;
  opacity: 0;
  transition: opacity 0.1s;
  transition: transform 0.25s 0.1s;
  font-family: var(--link-font);
}

nav ul li:hover p {
  opacity: 1;
  transform: translateX(10px);
  display: block;
}

nav ul li a {
  overflow: hidden;
  transition: 0.3s;
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
}

nav ul li:hover a {
  border: 2px solid white;
  border-radius: 50%;
  transform: translateX(-5px);
}

i {
  color: aliceblue;
}

main section {
  display: grid;
  place-content: center;
  gap: 1em;
  animation: slide-in 1.5s;
}

main section h1 {
  font-family: var(--main-font);
  position: relative;
}

main section h1::before {
  content: " ";
  display: block;
  height: 120px;
  width: 5px;
  background: #000;
  position: absolute;
  left: -35px;
  animation: grow 2.5s;
}

.img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 20%;
  height: 40%;
  aspect-ratio: 1;
}

.img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  z-index: -100;
  top: 20px;
  left: -20px;
}

img {
  width: 100%;
  height: 100%;
  animation: slide-in 1.5s;
}

section div {
  display: flex;
  gap: 1em;
}

section p {
  font-weight: 700;
  font-size: 1.5rem;
}

section button {
  padding: 1rem 1.5rem;
  font-weight: 600;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section button:hover {
  color: #fff;
  background: #000;
  cursor: pointer;
}

@keyframes nav {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes grow {
  from {
    height: 30px;
  }
  to {
    height: 120px;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 916px) {

  body {
    width: 100vw;
    height: 100vh;
  }

  main {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: space-between;
    position: relative;
    grid-template-areas:
      "c c c c"
      "a a a a "
      "b b b b ";
  }

  nav {
    background: #000;
    min-height: auto;
    grid-area: b;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    animation: slide-up 1.5s;
    z-index: 1;
  }

  @keyframes slide-up {
    from {
      bottom: -35px;
    }
    to {
      bottom: 0;
    }
  }

  nav ul {
    display: flex;
  }
  nav ul li {
    display: block;
    list-style: none;
    padding: 0.3rem;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }

  nav ul li p {
    color: #000;
    opacity: 0;
    transition: 1s;
    transition: opacity 0.2s;
    transition: transform 0.25s 0.1s;
    font-family: var(--link-font);
    font-weight: 700;
    display: none;
  }

  nav ul li:hover p {
    opacity: 1;
    transform: translateX(10px);
  }

  nav ul li a {
    overflow: hidden;
    transition: 0.3s;
    /* padding: 1em; */
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
  }

  nav ul li:hover a {
    border: 2px solid white;
    border-radius: 50%;
    transform: translateX(-5px);
  }

  i {
    color: aliceblue;
  }

  section {
    display: grid;
    place-content: center;
    grid-area: a;
    /* background: red; */
  }

  main {
    background: green;
  }
  main nav ul li:hover p{
    display: none;
  }

  .img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 200px;
  aspect-ratio: 1;
  grid-area: c;
}

.img::before {
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: -100;
  top: 20px;
  left: -10%;
}

img {
  width: 100%;
  height: 100%;
  animation: none;
}

/* to later work on */

/* @keyframes go-back{
  from{
    z-index: 1;
  }
  to{
    z-index: -100;
  } */
}
section h1 {
 text-align: center;
}

section p {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
